.banner {
  background: linear-gradient(100.58deg, #fff612 21.99%, #8affb1 80.7%);
  article {
    display: flex;
    align-items: center;
    margin: 20px 0px 100px;
    display: flex;
    justify-content: space-around;

    h2 {
      font-family: $font-titles;
      font-size: 36px;
      width: 277px;
      text-align: center;
      vertical-align: top;
    }
  }
  .banner-foto {
    position: relative;
    width: 100%;
    height: 318px;

    img {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      max-height: 318px;
      object-fit: cover;
    }
  }
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
  .banner {
    .banner-foto {
      max-width: 715px;
      height: 477px;
      img {
        left: auto;
        right: 0;
        max-height: none;
      }
    }
  }
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
  .banner {
    div {
      article {
        max-width: 600px;
        margin-right: 20px;
        padding-top: 140px;

        h2 {
          width: auto;
          font-size: 48px;
        }
      }
    }
    .banner-foto {
      max-width: 715px;
      height: 477px;
    }
    img {
      padding-right: 0px;
    }
  }
}

// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
  .banner {
    div {
      article {
        width: 600px;
        padding-bottom: 40px;
        margin-left: 50vw;
        @media (min-width: 1600px) {
          margin-left: 40vw;
        }
        @media (min-width: 3750px) {
          margin-left: 42vw;
        }
        @media (min-width: 4750px) {
          margin-left: 44vw;
        }
      }
    }
    .banner-foto {
      position: absolute;
    }
  }
}
// 1200px
