.card-event {
  background: #ffffff;
  border: 1px solid #c5c5c5;
  margin-bottom: 12px;
  padding: 17px 20px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 120%;
    text-decoration: none;
    color: $black;
    margin-bottom: 15px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-decoration: none;
    color: $black;    
  }
}
