.group-request {
  padding: 78px 0 170px;
  .container {
    position: relative;
    .box-title-hero {
      position: absolute;
      left: 8px;
      top: -120px;
      background-color: #2d97fa;
      padding: 16px 55px 16px 24px;
      width: 254px;
      h1 {
        font-family: $font-titles;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 110%;
        color: #ffffff;
      }
    }
  }
  .card-request {
    padding: 20px 25px;
    margin-bottom: 15px;
    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
  }
  .card-pink {
    background: #f9b0db;
  }
  .card-purple {
    background: rgba(71, 47, 146, 0.35);
  }
  .card-blue {
    background: rgba(45, 151, 250, 0.5);
  }
}

.list-request {
  article {
    .box-request {
      background: rgba(249, 176, 219, 0.35);
      margin: 0 10px 18px 0;
      padding: 19px;
      cursor: pointer;
      transition: all ease-in-out;
      background-image: url("../../../assets/images/check-empty.svg");
      background-repeat: no-repeat;
      background-position: 97% 10%;
      h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }
      span {
        font-family: $font-titles;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }
      &:hover {
        background: rgba(45, 151, 250, 0.35);
        background-image: url("../../../assets/images/check-empty.svg");
        background-repeat: no-repeat;
        background-position: 97% 10%;
      }
    }
    .selected-card {
      background: rgba(45, 151, 250, 0.35);
      background-image: url("../../../assets/images/check-checked.svg");
      background-repeat: no-repeat;
      background-position: 98% 10%;
      &:hover {
        background-image: url("../../../assets/images/check-checked.svg");
        opacity: 0.8;
        background-position: 98% 10%;
      }
    }
  }
}
