.contato {
  background: $verde_claro;
  padding: 43px 10px 0px;

  article {
    padding: 0px 18px 22px;
    h2 {
      font-family: $font-titles;
      font-weight: 400;
      line-height: 120%;
      font-size: 36px;
    }
  }

  form {
    label,
    select {
      font-family: $font-default;
      color: $primary;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    select,
    .form-input,
    textarea,
    option {
      font-family: $font-default;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    select,
    .form-input,
    option {
      height: 50px;
    }

    .form-input,
    option,
    textarea {
      padding: 17px 0px 17px 17px;
      border-radius: 0px;
    }
    .form-input:focus,
    select:focus,
    option:focus,
    textarea:focus {
      box-shadow: none;
    }

    select:invalid {
      color: gray;
    }

    .buttonContainer {
      display: flex;

      button {
        margin: 0px auto;
        max-width: 125px;
        margin-bottom: 20px;
      }
    }
  }
  .form-email {
    margin-top: 10px;
  }
  .contato-foto {
    position: relative;
    margin-top: 64px;
    &:hover {
      .logoSprite {
        animation-name: resetAnim;
        animation-duration: 0s;
        animation-timing-function: steps(0);
      }
    }

    img {
      display: block;
      margin: auto;
      width: 375px;
      position: relative;
    }
    .logoSprite {
      transform: scale(1.1);
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 37%;
    }
  }
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
  .contato {
    .contato-foto {
      .logoSprite {
        left: 37%;
      }
    }
  }
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  .contato {
    .contato-foto {
      .logoSprite {
        left: 41%;
      }
    }
  }
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
  .contato {
    padding: 78px 0px 0px;
    article {
      h2 {
        font-size: 48px;
        margin-bottom: 465px;
      }
    }
    form {
      .buttonContainer {
        display: block;
      }
      .form-email {
        margin-top: 0px;
      }
    }
    .contato-foto {
      margin-top: 0px;
      img {
        max-height: 437px;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
      .logoSprite {
        position: absolute;
        z-index: 100;
        top: -230px;
        left: 114px;
      }
    }
  }
}

// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
}

// 1200px
