/* Stilos padronizados para o editor de texto Wordpress */


/* use a classe content para envolver elementos que vão imprimir na tela um conteúdo vindo de um editor de texto Wordpress  */

.content {
    position: relative;
    padding-bottom: 95px;
    color: $dark;
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.02em;
        color: $dark;
        margin-bottom: 36px;
    }
    h2 {
        font-family: $font-titles;
        margin-bottom: 20px;
        text-transform: initial;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 110%;
        color: $primary;
    }
    h3 {
        font-family: $font-titles;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        color: $primary;
        margin-bottom: 20px;
    }
    h4 {
        font-family: $font-titles;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0;
        color: $primary;
        margin-bottom: 20px;
    }
    h5 {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0;
        color: $primary;
        margin-bottom: 20px;
    }
    h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
        color: $primary;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    ul {
        margin-bottom: 45px;
        li {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 140.8%;
            margin-bottom: 4px;
        }
    }
    a {
        font-weight: 400;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    blockquote {
        width: 100%;
        margin: 0;
        margin-bottom: 64px;
        padding: 0 0 0 30px;
        border-left: 3px solid $dark;
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: $gray;
        margin: 40px 0;
    }
    iframe {
        display: block;
        margin: 40px auto;
        width: 100%;
        min-height: 280px;
    }
    .wp-caption p.wp-caption-text {
        margin-top: 10px;
        text-align: left;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: $dark;
    }
    /* == WordPress WYSIWYG Editor Styles == */
    .entry-content img {
        margin: 0 0 1.5em 0;
    }
    .alignleft,
    img.alignleft {
        margin-right: 1.5em;
        display: inline;
        float: left;
    }
    .alignright,
    img.alignright {
        margin-left: 1.5em;
        display: inline;
        float: right;
    }
    .aligncenter,
    img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both;
    }
    .wp-caption {
        margin-bottom: 1.5em;
        text-align: center;
        padding-top: 5px;
    }
    .wp-caption img {
        border: 0 none;
        padding: 0;
        margin: 0;
    }
    .wp-caption p.wp-caption-text {
        line-height: 1.5;
        font-size: 10px;
        margin: 0;
    }
    .wp-smiley {
        margin: 0 !important;
        max-height: 1em;
    }
    blockquote.left {
        margin-right: 20px;
        text-align: right;
        margin-left: 0;
        width: 33%;
        float: left;
    }
    blockquote.right {
        margin-left: 20px;
        text-align: left;
        margin-right: 0;
        width: 33%;
        float: right;
    }
}


/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
    .content {
        padding-bottom: 110px;
        p {
            font-size: 18px;
            line-height: 36px;
            margin-bottom: 36px;
        }
        h2 {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 38px;
            line-height: 110%;
        }
        h3 {
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 20px;
        }
        h4 {
            font-weight: 400;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 20px;
        }
        h5 {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        h6 {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 20px;
        }
        ul {
            margin-bottom: 45px;
            li {
                font-size: 18px;
                line-height: 140.8%;
                margin-bottom: 4px;
            }
        }
        img {
            margin-bottom: 45px;
        }
        blockquote {
            margin-bottom: 64px;
            padding: 0 0 0 60px;
            font-size: 42px;
            line-height: 60px;
            margin: 80px 0;
        }
        iframe {
            display: block;
            margin: 40px auto;
            width: 100%;
            min-height: 280px;
        }
        .wp-caption p.wp-caption-text {
            margin-top: 10px;
            text-align: left;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: $dark;
        }
    }
}

// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {}

// 1200px