.cryptoCards {
  .cryptoCard-container {
    margin-top: -74px;
    display: flex;
    overflow-x: auto;
  }
  .cryptoCard-containerMobile {
    width: 100vw;
    margin-left: 0px;
    padding: 0px;
    .cryptoCard-item:first-child {
      margin-left: 10px;
    }
  }

  .cryptoCard-item {
    background: $primary;
    color: $branco;
    padding: 22px 24px 36px;
    margin-bottom: 28px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-family: $font-titles;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 22px;
      span {
        color: $secondary;
      }
    }
    .btn-download {
      margin-top: auto;
      display: flex;
      align-items: flex-start;
      color: #8affb1;
      svg {
        margin-right: 10px;
        fill: #8affb1;
      }
      &:hover {
        text-decoration: none;
        color: $secondary;
        svg {
          fill: $secondary;
        }
      }
    }
    button {
      align-self: start;
    }
    .linha {
      margin-bottom: 20px;
      background-color: $verde_claro;
      height: 1px;
    }
    p {
      margin-bottom: 20px;
    }
    button {
      background: transparent;
      border: none;
    }
  }
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  .cryptoCards {
    .cryptoCard-container {
      justify-content: center;
      .alinha-esquerda-impar {
        margin-right: 47.5%;
      }
    }
    .cryptoCard-item {
      margin: 0px 15px 30px 15px;
    }
  }
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
  .cryptoCards {
    .cryptoCard-container {
      .alinha-esquerda-impar {
        margin-right: 46.5%;
      }
    }
  }
}

// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
  .cryptoCards {
    .cryptoCard-container {
      .alinha-esquerda-impar {
        margin-right: 45.5%;
      }
    }
  }
}

// 1200px
