.faq {
  background: $primary;
  padding: 52px 0px 43px;

  .faq-title {
    font-family: $font-titles;
    color: $branco;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 41px;
  }
  .card-header {
    padding-right: 0px;
    padding-left: 0px;
  }
  .card-custom {
    background: transparent;
    .card-custom-header {
      background: transparent;
      &:hover {
        transition: all 0.3s ease-in-out;
      }
    }
    .card-custom-title {
      background: transparent;
      border-radius: 0;
      font-family: $font-default;
      background: $verde_claro;
      text-decoration: none;
      h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        padding: 10px 0px 10px 10px;
      }
      div {
        max-width: 20px;
        margin-left: 5px;
        padding-right: 10px;
      }
    }
    .card-custom-title.collapsed {
      text-decoration: none;
      background: $secondary;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .card-custom-inside {
      padding: 17px 21px;

      p {
        color: $branco;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
  /* Rotacionar a setinha */
  [data-toggle="collapse"].collapsed svg {
    transform: rotate(0);
    transition: all 0.3s ease-in-out 0s;
  }
  [data-toggle="collapse"] svg {
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out 0s;
  }
  /* // Rotacionar a setinha */
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  .faq {
    padding: 83px 0px 73px;
    .faq-title {
      font-size: 48px;
      margin-bottom: 51px;
    }
    .card-custom {
      .card-custom-inside {
        padding: 32px 50px;
      }
    }
  }
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
}

// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
}

// 1200px
