/* Footer */

footer {
  padding: 55px 0 0 0;
  background-color: $secondary;
  color: #fff;
  h2 {
    font-family: $font-titles;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 250%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
  }
  .col-lg-2 {
    ul:first-child {
      margin-top: 25px;
    }
  }
  ul {
    padding-left: 0;
    margin-bottom: 30px;
    li {
      a {
        font-family: $font-titles;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 250%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .list-social {
    li {
      margin-left: 60px;
      a {
        transition: all 0.2s ease-in-out;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .credits {
    margin-top: 40px;
    height: 65px;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      color: #ffffff;
    }
    a {
      font-family: $font-default;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      color: #ffffff;
      text-transform: initial;
    }
    ul {
      li {
        p {
          margin: 0 15px;
        }
      }
    }
  }
}
/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
}
// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
}

// 1200px
