/* Footer */

footer {
  padding: 55px 0;
  background-color: $secondary;
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
}
// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
}

// 1200px
