header {
  display: block;
  height: 50px;
  background-color: $purple;
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
      margin-right: 24px;
      a {
        display: block;
        height: 50px;
        padding-top: 16px;
        font-family: $font-default;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: $white;
        letter-spacing: 0;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $pink;
        }
      }
    }
    li:last-child {
      background-color: $pink;
      margin-right: 0;
      a {
        padding: 17px 20px 0 20px;
        &:hover {
          color: $purple;
        }
      }
    }
  }
}

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  header {
    height: 52px;
    .container {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
    ul {
      li {
        margin-right: 77px;
        a {
          height: 52px;
          padding-top: 25px;
          font-size: 12px;
        }
      }
      li:last-child {
        a {
          padding: 25px 74px 0 74px;
        }
      }
    }
  }
}
// 768px
