header{
  display: block;
  height: 52px;
  background-color: $purple;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li{
      margin-right: 77px;
      a{
        display: block;
        height: 52px;
        padding-top: 25px;
        font-family: $font-default;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 150%;
        color: $white;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s ease-in-out;
        &:hover{
          color: $pink;
        }
      }
    }
    li:last-child{
      background-color: $pink;
      a{
        padding: 25px 74px 0 74px;
        &:hover{
          color: $purple;
        }        
      }
    }
  }
}