.hero-do-music {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../images/toca_esssa_bg_event_public.png") no-repeat 145px -30px,
    linear-gradient(246.13deg, #ec008c -44.06%, #472f92 81.88%);
  mix-blend-mode: normal;
  padding: 20px 15px;
  img {
    width: 40%;
  }
  // img {
  //   align-self: center;
  // }
  h1 {
    font-family: $font-titles;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #ffffff;
    margin-bottom: 3px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .box-adress {
    margin-bottom: 25px;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #ffffff;
      margin-bottom: 3px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: #ffffff;
    }
  }
  .form-do-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-family: $font-titles;
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      line-height: 120%;
      color: #ffffff;
      margin-bottom: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .box-artist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin: 0 0 0 auto;
        h2 {
          margin-bottom: 5px;
        }
      }
      label:nth-child(1) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 151px;
          bottom: -98px;
          display: block;
          width: 54px;
          height: 105px;
          background-image: url("../../assets/images/arrow-input-band.svg");
          background-repeat: no-repeat;
        }
      }
      label:nth-child(2) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: -6px;
          bottom: -115px;
          display: block;
          width: 73px;
          height: 136px;
          background-image: url("../../assets/images/arrow-input-1-mobile.svg");
          background-repeat: no-repeat;
        }
      }
      textarea {
        height: 80px;
        min-width: initial;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        padding: 10px 14px;
        margin-bottom: 10px;
      }
      input[type="text"] {
        box-sizing: border-box;
        font-family: $font-default;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: $default-color;
        min-width: initial;
        width: 100%;
        background: $white;
        min-width: initial;
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        height: 50px;
        background: #ffffff;
        border: none;
        border-radius: 0;
      }
      input[type="submit"] {
        background: $secondary;
        margin: 15px 0 0 auto;
        border: none;
        display: block;
        width: fit-content;
        min-width: 163px;
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: $white;
        transition: all 0.2s ease-in-out;
        padding: 10px 16px;
        border-radius: 50px;
        &:hover {
          background-color: $pink;
          color: $white;
        }
      }
    }
  }
  .box-mensage,
  .box-mensage-music {
    height: 30px;
    .box-msg {
      display: flex;
      span {
        margin-right: 15px;
      }
    }
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 34px;
      color: $white;
    }
  }
  .box-mensage-music {
    margin-top: 45px;
    text-align: center;
  }
}

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  .hero-do-music {
    height: calc(100vh - 52px);
    justify-content: center;
    background: url("../images/toca_esssa_bg_event_public.png") no-repeat 25px
        bottom,
      linear-gradient(246.13deg, #ec008c -44.06%, #472f92 81.88%);
    mix-blend-mode: normal;
    img {
      width: initial;
    }
    h1 {
      font-size: 38px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .box-adress {
      margin-bottom: 45px;
      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #ffffff;
        margin-bottom: 3px;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        color: #ffffff;
      }
    }
    .form-do-music {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-family: $font-titles;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #ffffff;
        margin-bottom: 15px;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .box-artist {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 85%;
          margin: 0 0 0 auto;
          h2 {
            margin-bottom: 5px;
          }
        }
        label:nth-child(1) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: 165px;
            bottom: -92px;
            display: block;
            width: 54px;
            height: 105px;
            background-image: url("../../assets/images/arrow-input-2.png");
            background-repeat: no-repeat;
          }
        }
        label:nth-child(2) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 15px;
            bottom: -100px;
            display: block;
            width: 73px;
            height: 136px;
            background-image: url("../../assets/images/arrow-input-1.png");
            background-repeat: no-repeat;
          }
        }
        textarea {
          height: 90px;
          min-width: initial;
          width: 100%;
          font-style: normal;
          font-weight: 300;
          font-size: 22px;
          line-height: 26px;
          padding: 12px 14px;
          margin-bottom: 22px;
        }
        input[type="text"] {
          box-sizing: border-box;
          font-family: $font-default;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          color: $default-color;
          min-width: initial;
          width: 100%;
          background: $white;
          min-width: initial;
          width: 100%;
          padding: 10px;
          margin-top: 5px;
          height: 50px;
          background: #ffffff;
          border: none;
          border-radius: 0;
        }
        input[type="submit"] {
          background: $secondary;
          margin: 15px 0 0 auto;
          border: none;
          display: block;
          width: fit-content;
          min-width: 163px;
          font-family: $font-family-base;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.1em;
          color: $white;
          transition: all 0.2s ease-in-out;
          padding: 10px 16px;
          border-radius: 50px;
          &:hover {
            background-color: $pink;
            color: $white;
          }
        }
      }
    }
    .box-mensage {
      height: 30px;
      .box-msg {
        display: flex;
        span {
          margin-right: 15px;
        }
      }
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        color: $white;
      }
    }
  }
}
