.hero-do-music {
  height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(246.13deg, #ec008c -44.06%, #472f92 81.88%);
  mix-blend-mode: normal;
  h1{
    font-family: $font-titles;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  p{

  }
  .box-adress{
    h2{

    }
    p{

    }
  }
  .form-do-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-family: $font-titles;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      color: #ffffff;
      margin-bottom: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .box-artist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin: 0 0 0 auto;
        h2 {
          margin-bottom: 5px;
        }
      }
      label:nth-child(1) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 165px;
          bottom: -92px;
          display: block;
          width: 54px;
          height: 105px;
          background-image: url("../../assets/images/arrow-input-2.png");
          background-repeat: no-repeat;
        }
      }
      label:nth-child(2) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 15px;
          bottom: -100px;
          display: block;
          width: 73px;
          height: 136px;
          background-image: url("../../assets/images/arrow-input-1.png");
          background-repeat: no-repeat;
        }
      }
      textarea {
        height: 90px;
        min-width: initial;
        width: 100%;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        padding: 12px 14px;
        margin-bottom: 22px;
      }
      input[type="text"] {
        box-sizing: border-box;
        font-family: $font-default;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: $default-color;
        min-width: initial;
        width: 100%;
        background: $white;
        min-width: initial;
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        height: 50px;
        background: #ffffff;
        border: none;
        border-radius: 0;
      }
      input[type="submit"] {
        background: $secondary;
        margin: 15px 0 0 auto;
        border: none;
        display: block;
        width: fit-content;
        min-width: 163px;
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: $white;
        transition: all 0.2s ease-in-out;
        padding: 10px 16px;
        border-radius: 50px;
        &:hover {
          background-color: $pink;
          color: $white;
        }
      }
    }
  }
  .box-mensage {
    height: 30px;
    .box-msg {
      display: flex;
      span {
        margin-right: 15px;
      }
    }
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 34px;
      color: $white;
    }
  }
}
