.logoSprite {
  height: 50px;
  width: 103px;
  background: url("../../assets/images/logoSprite.png");
  animation-name: sprite;
  animation-duration: 2s;
  animation-timing-function: steps(19);
  position: relevant;

  animation-fill-mode: both;
  //Pausar apos chegar no ultimo frame
}

.logoSpriteReset {
  height: 50px;
  width: 103px;
  background: url("../../assets/images/logoSprite.png");
  background-position: -1957px;

  animation-name: resetAnim;
  animation-timing-function: steps(0);

  position: relevant;

  animation-fill-mode: both;
  //Pausar apos chegar no ultimo frame
}

@keyframes sprite {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: -1957px;
  }
}

@keyframes resetAnim {
  to {
    background-position: -1957px;
  }
}
