.list-messages {
  padding: 36px 0;
  .card-message {
    padding: 18px 22px;
    margin-bottom: 14px;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
    }
    span {
      display: block;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 27px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #000000;
    }
  }
  .card-pink {
    background-color: rgba(236, 0, 140, 0.15);
  }
  .card-blue {
    background-color: rgba(45, 151, 250, 0.15);
  }
  .card-purple {
    background-color: rgba(71, 47, 146, 0.35);
  }
}
