.modal-body {
  padding: 25px 45px 45px 45px !important;
  h2 {
    font-family: $font-titles;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    color: $primary;
    padding-right: 40%;
    margin-bottom: 40px;
  }
  .list-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $primary;
      a {
        text-decoration: none;
        color: $primary;
      }
    }
  }
  .modal-event {
    h2 {
      margin-bottom: 15px;
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 10px;
    }
    P {
      display: block;
      width: 100%;
      text-align: center;
      background: rgba(160, 22, 143, 0.1);
      padding: 25px 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      margin-bottom: 25px;
    }
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 10px;
    }
  }
}
.modal-header {
  padding: 10px;
  border-bottom: none;
}
