.modal-body{
  padding: 25px 45px 45px 45px !important;
  h2{
    font-family: $font-titles;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    color: #A0168F;
    padding-right: 40%;
    margin-bottom: 40px;
  }  
}
.modal-header{
  padding: 10px;
  border-bottom: none;
}