.modal-body {
  padding: 20px 30px 20px 30px !important;
  h2 {
    font-family: $font-titles;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    color: $primary;
    padding-right: 0;
    margin-bottom: 32px;
  }
  h3{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;    
  }
  .list-public {
    margin: 20px 0 40px;
    li {
      margin-bottom: 12px;
      list-style: disc;
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        color: $primary;
        transition: all .2s ease-in-out;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .list-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 0;
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $primary;
      a {
        font-size: 14px;
        text-decoration: none;
        color: $primary;
      }
    }
  }
  .modal-event {
    h2 {
      margin-bottom: 15px;
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 10px;
    }
    P {
      display: block;
      width: 100%;
      text-align: center;
      background: rgba(160, 22, 143, 0.1);
      padding: 25px 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      margin-bottom: 25px;
    }
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 10px;
    }
    .cod-event {
      display: block;
      margin: 0 auto;
      background: #472f92;
      padding: 5px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: #fff;
      width: 270px;
    }
  }
}
.modal-header {
  padding: 10px;
  border-bottom: none !important;
}
/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  .modal-body {
    padding: 25px 45px 45px 45px !important;
    h2 {
      font-size: 42px;
      color: $primary;
      padding-right: 40%;
    }
    .list-login {
      justify-content: space-around;
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
