.navbar {
  background-color: #fff612;
  a {
    img {
      filter: brightness(0);
    }
  }
  .hamburguer-icon:hover {
    cursor: pointer;
  }
  .linha {
    border: 0.5px solid #414141;
    width: 222px;
    height: 0px;
  }

  .container-custom {
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
  }
}

.closebtn {
  z-index: 5;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 34px; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  img {
    margin-bottom: 64px;
  }
  #texto-custom {
    a {
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 10px;
      margin-bottom: 36px;
    }
  }
  .nav-item {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    .a-link {
      font-size: 14px;

      color: $secondary;
    }
  }
}

/* The navigation links inside the overlay */

/* When you mouse over the navigation links, change their color */
.overlay .a-link:hover,
.overlay .a-link:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  color: #c4c4c4;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(sm) {
}

// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(md) {
  .navbar {
    padding: 15px 15px 0px;

    background: linear-gradient(90deg, #fff612 21.99%, #8affb1 80.7%);
  }
}

// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(lg) {
  .navbar {
    .ul-custom {
      width: 99%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-item {
      white-space: nowrap;
      width: fit-content;
      button {
        margin-left: 10px;
      }
      .a-link {
        font-size: 10px;
        color: black !important;
        border: 1px solid transparent;
      }
      .a-link:hover {
        border-bottom: 1px solid currentColor;
      }
    }
    #navbarNav {
      margin: 0px;
    }
  }
}

// 992px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/

@include media-breakpoint-up(xl) {
  .navbar {
    .ul-custom {
      width: 100%;
      margin-right: -40px;
    }
  }
}

// 1200px
