/*
//-------------------------------------------------------------------
@File: Default Styles

@Author: Henderson Torres
Author E-mail: teconet.arte@gmail.com

//-------------------------------------------------------------------
*/

// Variavéis de configuração do bootstrap (tem que ser antes do bootstrap)
@import "../../../src/_partials/variables";
// // Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// Hamburges Icon Menu
// @import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";
// AOS Animation
//@import "../../node_modules/aos/src/sass/aos.scss";

// Globals
@import "../../../src/_partials/globals";

// Layouts
@import "../../../src/_partials/_layouts/mensages";
@import "../../../src/_partials/_layouts/header";
@import "../../../src/_partials/_layouts/hero";
@import "../../../src/_partials/_layouts/hero-page";
@import "../../../src/_partials/_layouts/modal";
@import "../../../src/_partials/_layouts/forms";
@import "../../../src/_partials/_layouts/hero-music";
@import "../../../src/_partials/_layouts/card-request";
@import "../../../src/_partials/_layouts/title-box";
@import "../../../src/_partials/_layouts/setlist-group";
@import "../../../src/_partials/_layouts/event-closed";
@import "../../../src/_partials/_layouts/card-event";
@import "../../../src/_partials/_layouts/group-insert-setlist";
@import "../../../src/_partials/_layouts/footer";
