.customButton {
  padding: 0px 1px;
  font-family: $font-default;
  font-weight: 900;
  font-size: 14px;
  width: 154px;
  height: 40px;
  border-radius: 0;
  color: $branco;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;
  }
}

.customButtonGhost {
  @extend .customButton;
  color: $primary;
  background-color: transparent;
  border: 1px solid $primary;
  &:hover {
    border: none;
    color: $branco;
    background-color: $primary;
  }
}

.customButtonVerde {
  @extend .customButton;
  color: $primary;
  background-color: $verde_claro;
  &:hover {
    color: $verde_claro;
    background-color: transparent;
    border: 1px solid $verde_claro;
  }
}

.customButtonVerdeGhost {
  @extend .customButton;
  color: $verde_claro;
  background-color: transparent;
  border: 1px solid $verde_claro;
  &:hover {
    border: none;
    color: $primary;
    background-color: $verde_claro;
  }
}

.customButtonAmarelo {
  @extend .customButton;
  color: $primary;
  background-color: $secondary;
  &:hover {
    color: $secondary;
    background-color: transparent;
    border: 1px solid $secondary;
  }
}

.customButtonAmareloGhost {
  @extend .customButton;
  color: $secondary;
  background-color: transparent;
  border: 1px solid $secondary;
  &:hover {
    border: none;
    color: $primary;
    background-color: $secondary;
  }
}
