$font-default: 'Work Sans', sans-serif;
// pesos da fonte light 300, Regular 400, Semibold 600
$font-titles: 'Montserrat', sans-serif;
// pesos da fonte bold 700
// Cores
$primary: #A0168F;
$secondary: #2D97FA;
$black: #000000;
$white: #ffffff;
$purple: #472F92;
$pink: #EC008C; 
// Espaçamentp entre linhas do Grid Bootstrap
$grid-gutter-width: 30px;
$enable-shadows: 1;
// Customizando o modal
// $modal-backdrop-bg: $primary;
// $modal-backdrop-opacity: 0;
//Custom hamburger icon
// $hamburger-layer-width: 35px;
// $hamburger-layer-height: 6px;
// $hamburger-layer-spacing: 4px;
// $hamburger-layer-color: $branco;
// $hamburger-layer-border-radius: 0;
// $hamburger-hover-opacity: 1;
// $hamburger-types: (slider);
