$font-default: "Gordita", sans-serif;
// pesos da fonte normal,bold,900,italic
$font-titles: "Mirador", sans-serif;
// pesos da fonte normal,bold,900
// Cores
$primary: #000000;
$secondary: #fff612;
$verde_claro: #8affb1;
$preto: #000000;
$branco: #ffffff;
$link-color: $primary;
// $dark: #404040;
// $white: #ffffff;
// $cinza: #706f6f;
// $gray: #706f6f;
// $azul_claro: #2b84f0;
// $azul_escuro: #041f49;
// $cinza_claro: #eeeeee;
// $azul_medio: #2769c1;
// Espaçamentp entre linhas do Grid Bootstrap
$grid-gutter-width: 30px;
$enable-shadows: 1;
// Customizando o modal
// $modal-backdrop-bg: $primary;
// $modal-backdrop-opacity: 0;
//Custom hamburger icon
// $hamburger-layer-width: 35px;
// $hamburger-layer-height: 6px;
// $hamburger-layer-spacing: 4px;
// $hamburger-layer-color: $branco;
// $hamburger-layer-border-radius: 0;
// $hamburger-hover-opacity: 1;
// $hamburger-types: (slider);
